<main
    class="barcode-container -m-6 flex min-w-80 max-w-280 flex-col sm:min-w-128"
>
    <header
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5 rtl:flex-row-reverse dark:bg-primary-600"
    >
        <div class="flex flex-col">
            <h1 class="text-2xl font-medium text-white">
                {{ updateMode() ? 'Update Subject' : 'Add Subject' }}
            </h1>
        </div>
        <button
            type="button"
            title="Close"
            mat-icon-button
            [tabIndex]="-1"
            (click)="close('cancel')"
        >
            <mat-icon
                class="text-white"
                [svgIcon]="'heroicons_outline:x-mark'"
            />
        </button>
    </header>
    <div class="bg-card overflow-y-auto rounded p-4 shadow">
        <form [formGroup]="addForm">
            <div class="flex flex-col space-y-3">
                <div class="flex flex-col">
                    <mat-form-field
                        class="mb-3 flex-auto"
                        subscriptSizing="dynamic"
                    >
                        <mat-label>Subject Name</mat-label>
                        <input
                            type="text"
                            title="Subject Name"
                            matInput
                            [formControlName]="'name'"
                        />
                        @if (addForm.get('name').hasError('required')) {
                            <mat-error> Subject name is required. </mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Classroom</mat-label>
                        <mat-select formControlName="classroomId">
                            @for (
                                classroom of classrooms();
                                track classroom.id
                            ) {
                                <mat-option [value]="classroom.id">
                                    {{ classroom.name }} ({{
                                        classroom.academicYear.startYear
                                    }}
                                    - {{ classroom.academicYear.endYear }})
                                </mat-option>
                            }
                        </mat-select>
                        <mat-error>Classroom is required.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Teacher</mat-label>
                        <mat-select formControlName="teacherId">
                            @for (teacher of teachers(); track teacher.id) {
                                <mat-option [value]="teacher.id">
                                    {{ teacher.firstName }}
                                    {{ teacher.lastName }}
                                </mat-option>
                            }
                        </mat-select>
                        <mat-error>Teacher is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="mt-8 flex justify-end">
                <button
                    type="button"
                    class="px-8 text-white"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="!addForm.valid || addForm.disabled"
                    (click)="submitForm()"
                >
                    @if (!addForm.disabled) {
                        <span>
                            {{ updateMode() ? 'Update' : 'Create' }}
                        </span>
                    }
                    @if (addForm.disabled) {
                        <mat-progress-spinner
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        />
                    }
                </button>
            </div>
        </form>
    </div>
</main>
