<main
    *transloco="let t; read: 'add-user'"
    class="barcode-container -m-6 flex min-w-80 max-w-280 flex-col sm:min-w-128"
>
    <header
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5 rtl:flex-row-reverse dark:bg-primary-600"
    >
        <div class="flex flex-col">
            <h1 class="text-2xl font-medium text-white">
                {{ updateMode() ? t('updateTitle') : t('title') }}
            </h1>
        </div>
        <button
            type="button"
            title="close"
            mat-icon-button
            [tabIndex]="-1"
            (click)="close()"
        >
            <mat-icon
                class="text-white"
                [svgIcon]="'heroicons_outline:x-mark'"
            />
        </button>
    </header>
    <div class="bg-card overflow-y-auto rounded p-4 shadow">
        <form [formGroup]="addUserForm">
            <div class="gt-xs:flex-row flex flex-col space-y-3">
                <div class="flex">
                    <mat-form-field
                        class="mb-3 flex-auto"
                        subscriptSizing="dynamic"
                    >
                        <mat-label>{{ t('email') }}</mat-label>
                        <input
                            type="email"
                            title="Email"
                            matInput
                            [formControlName]="'email'"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:at-symbol'"
                        />
                        @if (addUserForm.get('email').hasError('required')) {
                            <mat-error>
                                {{ t('emailRequired') }}
                            </mat-error>
                        }
                        @if (addUserForm.get('email').hasError('email')) {
                            <mat-error> {{ t('emailInvalid') }} </mat-error>
                        }
                        @if (addUserForm.get('email').hasError('emailExists')) {
                            <mat-error>
                                {{ t('emailAlreadyExists') }}
                            </mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field
                        class="mb-3 flex-auto"
                        subscriptSizing="dynamic"
                    >
                        <mat-label>{{ t('username') }}</mat-label>
                        <input
                            title="Username"
                            matInput
                            required
                            [formControlName]="'username'"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'mat_solid:location_on'"
                        />

                        <mat-error>
                            {{ t('usernameRequired') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex">
                    <mat-form-field
                        class="mb-3 flex-auto"
                        subscriptSizing="dynamic"
                    >
                        <mat-label>{{ t('firstName') }}</mat-label>
                        <input
                            title="First Name"
                            matInput
                            required
                            [formControlName]="'firstName'"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:user-circle'"
                        />

                        <mat-error>
                            {{ t('firstNameRequired') }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field
                        class="mb-3 flex-auto"
                        subscriptSizing="dynamic"
                    >
                        <mat-label>{{ t('lastName') }}</mat-label>

                        <input
                            title="Last Name"
                            matInput
                            required
                            [formControlName]="'lastName'"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:user-circle'"
                        />
                        <mat-error>
                            {{ t('lastNameRequired') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex">
                    <mat-form-field
                        class="mb-3 flex-auto"
                        subscriptSizing="dynamic"
                    >
                        <mat-label>{{ t('address') }}</mat-label>
                        <input
                            title="Address"
                            matInput
                            required
                            [formControlName]="'address'"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'mat_solid:location_on'"
                        />

                        <mat-error>
                            {{ t('addressRequired') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex">
                    <mat-form-field
                        class="mb-3 flex-auto"
                        subscriptSizing="dynamic"
                    >
                        <mat-label>{{ t('phoneNumber') }}</mat-label>
                        <input
                            title="phoneNumber"
                            matInput
                            required
                            [formControlName]="'phoneNumber'"
                        />
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'mat_solid:phone'"
                        />
                        <mat-error>
                            {{ t('phoneNumberRequired') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div
                *transloco="let t; read: 'buttons'"
                class="mt-8 flex justify-end"
            >
                <button
                    type="button"
                    class="px-8 text-white"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="!addUserForm.valid || addUserForm.disabled"
                    (click)="submitForm()"
                >
                    @if (!addUserForm.disabled) {
                        <span>
                            {{ updateMode() ? t('update') : t('create') }}
                        </span>
                    }
                    @if (addUserForm.disabled) {
                        <mat-progress-spinner
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        />
                    }
                </button>
            </div>
        </form>
    </div>
</main>
