<div
    class="flex min-w-0 flex-auto flex-col bg-gray-200 sm:absolute sm:inset-0 sm:overflow-hidden dark:bg-transparent"
>
    <div
        class="bg-card relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <div class="flex gap-3">
            <button
                type="button"
                class="flex items-center justify-center"
                title="Back"
                [routerLink]="['/home/administration']"
            >
                <mat-icon
                    class="size-8"
                    [svgIcon]="'feather:arrow-left-circle'"
                />
            </button>
            <div class="text-4xl font-extrabold tracking-tight">
                Academic Years
            </div>
        </div>
        <div class="mt-6 flex shrink-0 items-center gap-3 sm:ml-4 sm:mt-0">
            <button
                mat-flat-button
                class="ml-2"
                type="button"
                [disabled]="isDisabled()"
                [color]="'primary'"
                (click)="openAddDialog()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'" />
                <span class="ml-2">Add</span>
            </button>
        </div>
    </div>
    @if (!isLoading()) {
        <div
            class="flex justify-between bg-gray-200 p-10 sm:overflow-x-auto sm:overflow-y-auto dark:bg-transparent"
        >
            <div
                class="max-w-8xl mx-auto flex w-full flex-auto flex-col rounded-lg sm:overflow-x-auto sm:overflow-y-auto"
            >
                <mtx-grid
                    [data]="academicYears()"
                    [columns]="columns()"
                    [loading]="isLoading()"
                    [rowStriped]="false"
                    [showToolbar]="true"
                    [pageOnFront]="false"
                    [expandable]="true"
                    [expansionTemplate]="expansionTpl"
                    [length]="totalElements()"
                    [pageSizeOptions]="pageSizeOptions()"
                    [pageIndex]="pageRequest().page"
                    [pageSize]="pageRequest().size"
                    [toolbarTemplate]="toolbarTpl"
                    [columnMenuButtonText]="'Columns'"
                    [columnMenuButtonType]="'stroked'"
                    [columnMenuButtonColor]="'primary'"
                    [noResultText]="'No results found.'"
                    (page)="onPageEvent($event)"
                    (sortChange)="onSortChange($event)"
                >
                    <!-- Optional templates can be restored and updated to remove translation if needed -->
                </mtx-grid>
            </div>
        </div>
    } @else {
        <div class="flex h-full w-full items-center justify-center">
            <mat-progress-spinner mode="indeterminate" />
        </div>
    }
</div>
