<div
    *transloco="let t"
    class="flex min-w-0 flex-auto flex-col bg-gray-200 sm:absolute sm:inset-0 sm:overflow-hidden dark:bg-transparent"
>
    <div
        class="bg-card relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <div class="flex gap-3">
            <button
                type="button"
                class="flex items-center justify-center"
                title="back"
                [routerLink]="['/home/administration']"
            >
                <mat-icon
                    class="size-8"
                    [svgIcon]="'feather:arrow-left-circle'"
                />
            </button>
            <div class="text-4xl font-extrabold tracking-tight">
                {{ t('table.titles.categories') }}
            </div>
        </div>
        <div class="mt-6 flex shrink-0 items-center gap-3 sm:ml-4 sm:mt-0">
            <button
                mat-flat-button
                class="ml-2"
                type="button"
                [disabled]="isDisabled()"
                [color]="'primary'"
                (click)="openAddDialog()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'" />
                <span class="ml-2">{{ t('buttons.add') }}</span>
            </button>
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-48 md:hidden"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                />
                <input
                    matInput
                    class="truncate"
                    title="search"
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="t('search')"
                />
            </mat-form-field>
        </div>
    </div>
    @if (!isLoading()) {
        <div
            class="flex justify-between bg-gray-200 p-10 sm:overflow-x-auto sm:overflow-y-auto dark:bg-transparent"
        >
            <div
                class="max-w-8xl mx-auto flex w-full flex-auto flex-col rounded-lg sm:overflow-x-auto sm:overflow-y-auto"
            >
                <mtx-grid
                    [data]="subjects()"
                    [columns]="columns()"
                    [loading]="isLoading()"
                    [rowStriped]="false"
                    [showToolbar]="true"
                    [pageOnFront]="false"
                    [expandable]="true"
                    [expansionTemplate]="expansionTpl"
                    [length]="totalElements()"
                    [pageSizeOptions]="pageSizeOptions()"
                    [pageIndex]="pageRequest().page"
                    [pageSize]="pageRequest().size"
                    [toolbarTemplate]="toolbarTpl"
                    [columnMenuButtonText]="t('table.columns')"
                    [columnMenuButtonType]="'stroked'"
                    [columnMenuButtonColor]="'primary'"
                    [noResultText]="t('table.noResult')"
                    (page)="onPageEvent($event)"
                    (sortChange)="onSortChange($event)"
                >
                    <!-- <ng-template #expansionTpl let-row>
                        @for (subcategory of row.subCategories; track $index) {
                            <div class="flex items-center justify-between border-b border-gray-300 p-2">
                                <span class="ml-2 text-base font-semibold">{{ subcategory.name }}</span>
                                <div class="flex items-center">
                                    <button
                                        mat-icon-button
                                        type="button"
                                        color="primary"
                                        [disabled]="isDisabled()"
                                        (click)="onUpdateSubCategory(subcategory)"
                                    >
                                        <mat-icon [svgIcon]="'feather:edit'" />
                                    </button>
                                    <button
                                        mat-icon-button
                                        type="button"
                                        color="warn"
                                        [disabled]="isDisabled()"
                                        (click)="onOpenDeleteSubcategoryDialog(subcategory, row.id)"
                                    >
                                        <mat-icon [svgIcon]="'feather:trash-2'" />
                                    </button>
                                </div>
                            </div>
                        } @empty {
                            <div class="flex items-center justify-between">
                                <span class="ml-2 text-lg font-semibold">{{ t('table.noSubCategories') }}</span>
                                <div class="flex items-center">
                                    <button
                                        mat-icon-button
                                        color="primary"
                                        type="button"
                                        [disabled]="isDisabled()"
                                        (click)="openAddSubCategoryDialog(row)"
                                    >
                                        <mat-icon [svgIcon]="'heroicons_outline:plus'" />
                                    </button>
                                </div>
                            </div>
                        }
                    </ng-template> -->
                    <ng-template #toolbarTpl>
                        <mat-form-field
                            class="fuse-mat-dense fuse-mat-rounded hidden max-w-64 md:block"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:magnifying-glass'"
                            />
                            <input
                                matInput
                                class="truncate"
                                title="search"
                                [formControl]="searchInputControl"
                                [autocomplete]="'off'"
                                [placeholder]="t('search')"
                            />
                        </mat-form-field>
                    </ng-template>
                </mtx-grid>
            </div>
        </div>
    } @else {
        <div class="flex h-full w-full items-center justify-center">
            <mat-progress-spinner mode="indeterminate" />
        </div>
    }
</div>
