<!-- Button -->
<button matRipple [matMenuTriggerFor]="userActions">
    <div
        class="flex h-9 w-9 items-center justify-center rounded-full bg-gray-200 text-lg uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200"
    >
        {{ user().firstName.charAt(0) }}{{ user().lastName.charAt(0) }}
    </div>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <div *transloco="let t; prefix: 'user-menu'">
        <button mat-menu-item>
            <span class="flex flex-col leading-none">
                <span>{{ t('signedAs') }}</span>
                <span class="mt-1.5 text-md font-medium">{{
                    user().username
                }}</span>
            </span>
        </button>
        <mat-divider class="my-2"></mat-divider>
        <button mat-menu-item [routerLink]="['/personal-profile']">
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
            <span>{{ t('profile') }}</span>
        </button>
        <button mat-menu-item>
            <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
            <span>{{ t('settings') }}</span>
        </button>
        @if (isAdmin()) {
            <button mat-menu-item [routerLink]="'/dashboards/analytics'">
                <mat-icon
                    [svgIcon]="'heroicons_outline:cog-8-tooth'"
                ></mat-icon>
                <span>{{ t('dashboard') }}</span>
            </button>
        }

        <mat-divider class="my-2"></mat-divider>
        <button mat-menu-item (click)="signOut()">
            <mat-icon
                [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"
            ></mat-icon>
            <span>{{ t('logout') }}</span>
        </button>
    </div>
</mat-menu>
