<!-- Button to Trigger Language Menu -->
<button
    mat-icon-button
    [matTooltip]="'navbar.toggle-language' | transloco"
    [matMenuTriggerFor]="languages"
>
    <mat-icon svgIcon="heroicons_solid:language"></mat-icon>
</button>

<!-- Language Menu -->
<mat-menu [xPosition]="'before'" #languages="matMenu">
    @for (lang of availableLangs(); track trackByFn($index, lang)) {
        <button
            mat-menu-item
            (click)="setActiveLang(lang.id)"
            class="text-gray-700 hover:bg-gray-100 dark:text-white dark:hover:bg-slate-900"
        >
            <span
                class="flex justify-between gap-2 text-base"
                *transloco="let t; prefix: 'navbar'"
            >
                {{ t(lang.id) }}
                @if (lang.id === activeLang()) {
                    <mat-icon svgIcon="feather:check"></mat-icon>
                }
            </span>
        </button>
    }
</mat-menu>
